mat-table {
	width: 90vw;
}
.mat-table__wrapper .mat-table {
	min-width: auto !important;
	width: 100% !important;
}

.mat-header-row {
	width: 100%;
}

.mat-row {
	width: 100%;
}

@media only screen and (max-width: 736px) and (orientation: portrait) {
	mat-header-row,
	mat-row {
		width: 200%; //you can also set it in px,em, etc...
	}

	mat-cell {
		font-size: 12px;
	}
}
