<mat-form-field>
	<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" />
</mat-form-field>
<mat-table [dataSource]="dataSource" matSort>
	<ng-container matColumnDef="dt">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.dt * 1000 | date }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="temp">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Temp.</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.main.temp }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="temp_min">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Min. Temp.</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.main.temp_min }}</mat-cell>
	</ng-container>

	<ng-container matColumnDef="temp_max">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Max. Temp.</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.main.temp_max }}</mat-cell>
	</ng-container>

	<ng-container *ngIf="!isMobile" matColumnDef="wind_speed">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Wind Speed</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.wind.speed }}</mat-cell>
	</ng-container>

	<ng-container *ngIf="!isMobile" matColumnDef="pressure">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Pressure</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.main.pressure }}</mat-cell>
	</ng-container>

	<!-- <ng-container *ngIf="!isMobile" (window:resize)="onResize($event)" matColumnDef="humidity">
		<mat-header-cell *matHeaderCellDef mat-sort-header>Humidity</mat-header-cell>
		<mat-cell *matCellDef="let element">{{ element.main.humidity }}</mat-cell>
	</ng-container> -->

	<ng-container matColumnDef="add">
		<mat-header-cell *matHeaderCellDef>Edit Summary</mat-header-cell>
		<mat-cell *matCellDef="let row">
			<button mat-icon-button (click)="onAddCityClick(row)" color="primary">
				<mat-icon *ngIf="!cities.includes(row.name); else elseBlock">add_circle</mat-icon>
				<ng-template #elseBlock><mat-icon>delete</mat-icon></ng-template>
			</button>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
