// FONT VARIABLES
$font-primary: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px (1200 / 16 --> average font-size)
$bp-large: 62.5em; // 1000px (1000 / 16 --> average font-size)
$bp-medium: 50em; // 800px (800 / 16 --> average font-size)
$bp-small: 37.5em; // 600px (600 / 16 --> average font-size)

// COLOR VARIABLES
$dark-background: #2d2d2d;
$primary: #ff6700
