// @import 'variables';

.header {
	width: 100%;

	display: grid;
	grid-template-columns: 20rem 1fr repeat(4, min-content);
	align-items: center;

	background-color: #ff6700;

	&__menu {
		transform: translateY(-0.5rem);

		display: none;
		// @include md {
		// 	display: inline-block;
		// }
	}
}
