<mat-toolbar color="primary" class="header">
	<h1 class="header__logo">CoroDat</h1>
  <span></span>
	<a mat-button *ngIf="!isSmallScreen" [routerLink]="'/summary'" class="header__link-summary"> Summary </a>
	<a mat-button *ngIf="!isSmallScreen" [routerLink]="'/data'" class="header__link-data"> Data </a>
	<a mat-button *ngIf="!isSmallScreen" [routerLink]="'/visualization'" class="header__link-visualization">
		Visualization
	</a>
	<div *ngIf="isSmallScreen" class="header__menu">
		<button   mat-icon-button class="header__burger" [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<a [routerLink]="'/summary'" mat-menu-item>Summary</a>
			<a [routerLink]="'/data'" mat-menu-item>Data</a>
			<a [routerLink]="'/visualization'" mat-menu-item>Visualization</a>
		</mat-menu>
	</div>
</mat-toolbar>
