<!-- <mat-nav-list>
	<a mat-list-item routerLink="/summary" (click)="onSidenavClose()">
		<mat-icon>home</mat-icon>
		<span class="nav-caption">Summary</span>
	</a>
	<a mat-list-item routerLink="/data" (click)="onSidenavClose()">
		<mat-icon>assignment_ind</mat-icon>
		<span class="nav-caption">Data</span>
	</a>
	<a mat-list-item routerLink="/visualization" (click)="onSidenavClose()">
		<mat-icon>account_balance</mat-icon>
		<span class="nav-caption">Visualization</span>
	</a>
</mat-nav-list> -->
<h1>test</h1>
