<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="false"
	>
		<!-- [opened]="(isHandset$ | async) === false"> -->
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<a *ngIf="isAuth" mat-list-item routerLink="/summary">Summary</a>
			<a *ngIf="isAuth" mat-list-item routerLink="/data">Data</a>
			<a *ngIf="!isAuth" mat-list-item routerLink="/log-in">Log in</a>
			<a *ngIf="!isAuth" mat-list-item routerLink="/sign-up">Sign up</a>
			<a *ngIf="isAuth" mat-list-item routerLink="/" (click)="onLogOut()">Logout</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async"
				class="burger-button"
			>
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>WeathADatA</span>
			<div class="header__links" *ngIf="!(isHandset$ | async)">
				<a *ngIf="isAuth" mat-list-item routerLink="/summary" routerLinkActive="mat-accent"
					>Summary</a
				>
				<a *ngIf="isAuth" mat-list-item routerLink="/data" routerLinkActive="mat-accent"
					>Data</a
				>

				<a *ngIf="!isAuth" mat-list-item routerLink="/log-in">Log in</a>
				<a *ngIf="!isAuth" mat-list-item routerLink="/sign-up">Sign up</a>
				<a *ngIf="isAuth" style="cursor: pointer" routerLink="/" (click)="onLogOut()"
					>Logout</a
				>
			</div>
		</mat-toolbar>
		<router-outlet (click)="drawer.close()"></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
