<div class="widget-grid" [ngClass]="currentLocalHourClass">
	<span></span>
	<fa-icon
		*ngIf="localTime < 20 && 8 < localTime && (isClear || isCloudy)"
		class="icon sun"
		[icon]="['fas', 'sun']"
		size="3x"
	></fa-icon>
	<fa-icon
		*ngIf="(localTime > 20 || localTime < 8) && (isClear || isCloudy)"
		class="icon moon"
		[icon]="['fas', 'moon']"
		size="3x"
	></fa-icon>
	<!-- <h1>{{weatherData$ | async}}</h1> -->
	<fa-icon *ngIf="isCloudy" class="icon cloud" [icon]="['fas', 'cloud']" size="3x"></fa-icon>
	<fa-icon *ngIf="isWindy" class="icon wind" [icon]="['fas', 'wind']" size="3x"></fa-icon>
	<fa-icon
		*ngIf="isRainy"
		class="icon cloud-showers"
		[icon]="['fas', 'cloud-showers-heavy']"
		size="3x"
	></fa-icon>
	<fa-icon
		*ngIf="isSnowy"
		class="icon snowflake"
		[icon]="['fas', 'snowflake']"
		size="3x"
	></fa-icon>
	<div class="temperature">{{ responseData.main.temp }}°</div>
	<div class="temperature-range">
		{{ responseData.main.temp_min }}° / {{ responseData.main.temp_max }}°
	</div>
	<div class="temperature-feels">Feels Like: {{ responseData.main.feels_like }}°</div>
	<div class="wind-speed">Wind speed: {{ responseData.wind.speed }} km/h</div>
	<div class="name">
		{{ responseData.name }}
	</div>
	<div class="humidity" style="font-size: 12px">Humidity: {{ responseData.main.humidity }}%</div>
</div>
