a {
	text-decoration: none;
	color: white;

	&:active,
	&:hover {
		color: lightgray;
    cursor: pointer;
	}
}

.navigation-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

mat-toolbar {
	border-radius: 3px;
}

@media (max-width: 959px) {
	mat-toolbar {
		border-radius: 0px;
	}
}
