<div class="inner-container">
	<div class="summary-grid">
		<h1>Your Cities</h1>
		<mat-tab-group>
			<mat-tab label="Today">
				<div class="widges-container">
					<app-weather-widget
						*ngFor="let city of responseList; let i = index"
						[responseData]="responseList[i]"
					></app-weather-widget>
				</div>
			</mat-tab>
			<mat-tab label="Forecast">
				<div class="widges-container">
					<!-- <div *ngIf="WeatherDataFork$ | async"> -->
					<!-- <app-weather-widget
							*ngFor="let city of responseList; let i = index"
							[responseData]="responseList[i]"
						></app-weather-widget> -->
					<!-- </div> -->
				</div>
			</mat-tab>
		</mat-tab-group>
		<p>
			Add more cities
			<button
				mat-icon-button
				routerLink="../data"
				routerLinkActive="mat-accent"
				color="primary"
			>
				<!-- <button mat-icon-button (click)="onAddButtonClick()" color="primary"> -->
				<mat-icon>add_circle</mat-icon>
			</button>
		</p>
	</div>
</div>
